<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="ru.taximaxim.pgsqlblocks.ui">
    <Appenders>
        <RollingFile name="file" fileName="${sys:user.home}/.pgSqlBlocks/logs/pgSqlBlocks.log" 
        filePattern="${sys:user.home}/.pgSqlBlocks/logs/pgSqlBlocks.log-%i.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c %x - %m%n" charset="UTF-8"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c %x - %m%n" />
        </Console>
        <TextComposite name="text">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} - %m%n" />
        </TextComposite>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="console"/>
            <AppenderRef ref="text"/>
        </Root>
    </Loggers>
</Configuration>